.border-box {
  box-sizing: border-box;
}

.cover {
  background-size: cover !important;
}

.bg-left {
  background-repeat: no-repeat;
  background-position: center left;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.b--white {
  border-color: #fff;
}

.b--white-90 {
  border-color: rgba(255, 255, 255, .9);
}

.b--blue {
  border-color: #357edd;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

.dt {
  display: table;
}

.dtc {
  display: table-cell;
}

.sans-serif {
  font-family: -apple-system,
               BlinkMacSystemFont,
               'avenir next',
               avenir,
               'helvetica neue',
               helvetica,
               ubuntu,
               roboto,
               noto,
               'segoe ui',
               arial,
               sans-serif;
}

.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw4 {
  font-weight: 400;
}

.h2 {
  height: 2rem;
}

.lh-title {
  line-height: 1.25;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.mw8 {
  max-width: 64rem;
}

.w2 {
  width: 2rem;
}

.w-100 {
  width: 100%;
}

.white-90 {
  color: rgba(255, 255, 255, .9);
}

.white-80 {
  color: rgba(255, 255, 255, .8);
}

.white-70 {
  color: rgba(255, 255, 255, .7);
}

.white {
  color: #fff;
}

.bg-black-80 {
  background-color: rgba(0, 0, 0, .8);
}

.bg-blue {
  background-color: #357edd;
}

.hover-white:hover {
  color: #fff;
}

.hover-white:focus {
  color: #fff;
}

.pa1 {
  padding: .25rem;
}

.pa3 {
  padding: 1rem;
}

.pb5 {
  padding-bottom: 4rem;
}

.pv2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ml2 {
  margin-left: .5rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb3 {
  margin-bottom: 1rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.mt3 {
  margin-top: 1rem;
}

.mt4 {
  margin-top: 2rem;
}

.no-underline {
  text-decoration: none;
}

.tr {
  text-align: right;
}

.f2 {
  font-size: 2.25rem;
}

.f3 {
  font-size: 1.5rem;
}

.f6 {
  font-size: .875rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.v-mid {
  vertical-align: middle;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(.9);
}

.grow-large {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-in-out;
}

.grow-large:hover, .grow-large:focus {
  transform: scale(1.2);
}

.grow-large:active {
  transform: scale(.95);
}

@media screen and (min-width: 30em) {
  .dib-ns {
      display: inline-block;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .pb6-m {
      padding-bottom: 8rem;
  }

  .mt5-m {
      margin-top: 4rem;
  }
}

@media screen and (min-width: 60em) {
  .bg-center-l {
      background-repeat: no-repeat;
      background-position: center center;
  }

  .dib-l {
      display: inline-block;
  }

  .pb7-l {
      padding-bottom: 16rem;
  }

  .mt6-l {
      margin-top: 8rem;
  }

  .tc-l {
      text-align: center;
  }

  .f1-l {
      font-size: 3rem;
  }
}
